.container {
    display: flex;
    flex-wrap: nowrap;
}

.image {
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 50%;
    transition: all .5s ease-out;
    object-fit: cover;
}

.image:hover {
    transform: scale(1.3);
}