body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress {
    width: 200px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    margin: 10px;
    position: relative;
}

.progress .progress__width::after {
    content: attr(data-progress) "%";
    position: absolute;
    display: block;
    left: 49%;
}

.progress .progress__width[data-progress] {
    border-radius: 8px;
    background-color: #D34E47;
    width: 70%;
    height: inherit;

}
.progress--rtl {
    direction: rtl;
}
