.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-box {
    display: flex;
    padding: 1rem;
    margin: 2rem;
}

.search-box__input {
    font-size: 1em;
}
.search-box__button {
    font-size: 1em;
}

.search-box--large {
    font-size: 32px;
}
.search-box--small {
    font-size: 8px;
}

